body{
    margin:0;
    display: flex;
    flex-direction: column;
    height:100vh;
    text-align: center;
    align-items: center;
    background-color:#eed7a1;
    justify-content: space-evenly;
    color: black;
}
.input-area{
    border: 2px solid black;
    border-radius: 20px;
    height:30vh;
    width:25vw;
    background-color: 	#cd8b62;
    font-size: 1.5rem;
    text-align: right;
    padding: 20px;
}
.numbers{
    width:25vw;
    padding:15px;
    border: 2px solid black;
    background-color: 	#475c6c;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.btn{
    height:50px;
    background-color:#f7efd2;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}
.equal{
    grid-row: 4 / 6;
    grid-column: 4;
    height: auto;
    background-color: rgb(17, 199, 17);
}
.zero {
    grid-column: 1 / 3;
    grid-row: 5;
}
.del{
    background-color: red;
}